@media only screen and (min-width: 400px)
{
   .ceo {
    width: 50%;
    
    } 
}

@media only screen and (min-width: 500px)
{
   .ceo {
    width: 50%;
    
    } 
}

@media only screen and (min-width: 600px)
{
   .ceo {
    width: 50%;
    
    } 
}

@media only screen and (min-width: 700px)
{
   .ceo {
    width: 50%;
    
    } 
}

@media only screen and (min-width: 800px)
{
   .ceo {
    width: 50%;
    
    } 
}

@media only screen and (min-width: 900px)
{
   .ceo {
    width: 60%;
    
    } 
}

@media only screen and (min-width: 1000px)
{
   .ceo {
    width: 70%;
    
    } 
}

@media only screen and (max-width: 600px)
{
    #mlogo{
        
        font-size: 50%;
    }

}